<div class="container">
    <form class="form" #form="ngForm">
        <div class="field">
            <input ngModel type="email" name="email" id="email" class="input" autocomplete="off" placeholder=" ">
            <label for="email" class="label">Email</label>
        </div>
        <div class="field">
            <input 
                [(ngModel)]="password" 
                (ngModelChange)="onPassInput($event)" 
                [type]="showPassword ? 'text' : 'password'"
                name="password" id="password" class="input" placeholder=" ">
            <label for="password" class="label">Password</label>

            <span class="toggle-password" 
                (mouseover)="showPassword = true"
                (mouseout)="showPassword = false">{{showPassword ? '🙈' : '👁️'}}</span>
        </div>
        <div class="strength">
            <span class="bar bar-1" [ngClass]="pStrength > 0 ? 'bar-show': ''"></span>
            <span class="bar bar-2" [ngClass]="pStrength > 1 ? 'bar-show': ''"></span>
            <span class="bar bar-3" [ngClass]="pStrength > 2 ? 'bar-show': ''"></span>
            <span class="bar bar-4" [ngClass]="pStrength > 3 ? 'bar-show': ''"></span>
        </div>
        <ul>
            <li> {{pValidations[0] ? '✔️' : '❌'}} must be at least 5 characters</li>
            <li> {{pValidations[1] ? '✔️' : '❌'}} must contain a capital letter</li>
            <li> {{pValidations[2] ? '✔️' : '❌'}} must contain a number</li>
            <li> {{pValidations[3] ? '✔️' : '❌'}} must contain one of $&+,:;=?@#</li>
        </ul>
    </form>
</div>
