$text-color: #afafaf;
.container {
  display: flex;
  flex-direction: column;
}
.form {
    color: $text-color;
    max-width: 600px;
    min-width: 200px;
    margin: 0 auto;
}
.field {
  width: 100%;
  position: relative;
  border-bottom: 2px dashed $text-color;
  margin: 4rem auto 1rem;
  transition: 500ms;
}

.label {
  color: $text-color;
  font-size: 1.2rem;
}

.input {
  outline: none;
  border: none;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0.25rem 0;
  background: none;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}
.input:valid {
  color: yellowgreen;
}
.input:invalid {
  color: orangered;
}
.field::after {
  content: "";
  position: relative;
  display: block;
  height: 4px;
  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  transform: scaleX(0);
  transform-origin: 0%;
  transition: transform 500ms ease;
  top: 2px;
}
.field:focus-within {
  border-color: transparent;
}
.field:focus-within::after {
  transform: scaleX(1);
}
.label {
  z-index: -1;
  position: absolute;
  transform: translateY(-2rem);
  transform-origin: 0%;
  transition: transform 400ms;
}
.field:focus-within .label,
.input:not(:placeholder-shown) + .label {
  transform: scale(0.8) translateY(-5rem);
}
.strength {
  display: flex;
  height: 20px;
  width: 100%;
}
.bar {
  margin-right: 5px;
  height: 100%;
  width: 25%;
  transition: box-shadow 500ms;
  box-shadow: inset 0px 20px #1f1f1f;
}
.bar-show {
  box-shadow: none;
}
.bar-1 {
  background: linear-gradient(to right, red, orangered);
}
.bar-2 {
  background: linear-gradient(to right, orangered, yellow);
}
.bar-3 {
  background: linear-gradient(to right, yellow, yellowgreen);
}
.bar-4 {
  background: linear-gradient(to right, yellowgreen, green);
}
.toggle-password {
  position: absolute;
  cursor: help;
  font-size: 0.8rem;
  right: 0.25rem;
  bottom: 0.5rem;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}