<div class="container">
    <a class="brand" routerLink="/" [class.disabled]="sidenavOpen ? true : false">Sellnet</a>
    <a class="link" routerLink="/" [class.disabled]="sidenavOpen ? true : false">Products</a>
    <a style="flex: 1 1 auto" [class.disabled]="sidenavOpen ? true : false"></a>
    <a class="link bs" routerLink="/login" [class.disabled]="sidenavOpen ? true : false">Login</a>
    <a class="link bs" routerLink="/" [class.disabled]="sidenavOpen ? true : false">Signup</a>
    <a class="link ss" (click)="onSidenavToggle()">More</a>
</div>