<div class="container">
    <span style="text-align: center; font-size: 20px;">Filters</span>
    <hr style="width: 100%;">
    <form class="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <select name="category" id="category" ngModel>
            <option value="" disabled selected>Category</option>
            <option [value]="cat" *ngFor="let cat of categories">{{cat}}</option>
        </select>
        <select name="sort" id="sort" ngModel>
            <option value="" disabled selected>Sort</option>
            <option [value]="param" *ngFor="let param of sort">{{param}}</option>
        </select>
        <select name="division" id="division" ngModel>
            <option value="" disabled selected>Divisions</option>
            <option [value]="division" *ngFor="let division of divisions">{{division}}</option>
        </select>
        <select name="city" id="city" ngModel>
            <option value="" disabled selected>City</option>
            <option [value]="city" *ngFor="let city of cities">{{city}}</option>
        </select>
        <button type="submit" [disabled]="f.invalid">Filter</button>
    </form>
</div>