<div class="container">
    <div class="sidebar">
        <app-products-query></app-products-query>
    </div>
    <div class="item-list">
        <form class="search" (ngSubmit)="onSearch()">
            <input type="text" name="name" id="name" [(ngModel)]="searchParam" placeholder="What are you looking for?">
            <button type="submit">Search</button>
        </form>
        <ng-container *ngIf="products.length > 0 && !isLoading">
            <div class="item" *ngFor="let product of products" [routerLink]="['/products', product.id]">
                <img [src]="product.thumbnail.imageUrl ?? '/assets/placeholder.jpg'" [alt]="product.thumbnail.publicId">
                <div class="item-data">
                    <p class="product-title">{{product.name}}</p>
                    <p>{{product.price}} TAKA</p>
                    <p>{{product.city}}, {{product.division}}</p>
                    <p>{{product.createdAt | date: 'medium'}}</p>
                </div>
            </div>
        </ng-container>
        <p *ngIf="isLoading" class="loading">Loading...</p>
        <p *ngIf="products.length === 0 && !isLoading" style="text-align: center;">Oops... Looks like there are no products</p>
    </div>
    <div class="bottom-bar">
        <span>Items {{products.length > 0 ? (pageNumber -1) * pageSize + 1 : 0}} to {{(pageSize * pageNumber) > totalItems ? totalItems : (pageSize * pageNumber)}} of {{totalItems}}</span>
        <button (click)="onChangePage('prev')" [disabled]="pageNumber == 1">Previous</button>
        <button (click)="onChangePage('next')" [disabled]="totalItems <= pageSize * pageNumber">Next</button>
    </div>
</div>